.subscribe {
    grid-area: subscribe;
    align-self: center;
    justify-self: center;
}

.content-container .blog-item {
    color: inherit;
    text-decoration: none;
}

.leading-card {
    display: none;
}

.leading-card {
    text-align: center;
}

.blog-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-item {
    padding: 0.5em;
    margin: 0.5em 0;
    display: grid;
    max-width: 500px;
    grid-template-areas:
        "title"
        "pic" 
        "abstract";
}

.blog-item,
.button {
    transition: box-shadow 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.blog-item:hover,
.button:hover {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* box-shadow config borrowed from https://getcssscan.com/css-box-shadow-examples as #57 by Facebook*/
}

.blog-item:active,
.button:active {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* I did not remove the blue outline from the button due to accessibility reasons - navigability with keyboard to the element.*/
}

.blog-item h1 {
    font-size: larger;
    color: rgb(59, 59, 59);
    grid-area: title;
    max-height: 3.4rem;
    margin: 0.5rem 0.3rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    text-shadow: none;
}

.blog-item .image {
    overflow: hidden;
    grid-area: pic;
    max-height: 50vh;
}

.blog-item img {
    box-sizing: border-box;
    object-fit: cover;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0.4em;
}

.blog-item p {
    grid-area: abstract;
    margin: 0.3rem 1rem;
    overflow: hidden;
}

.welcome-arrow {
    display: block;
    width: 70%;
    margin: -1.3rem 0 0em 2em;
}

@media (min-width: 496px) {
    .blog-item {
        grid-template-rows: auto 1fr;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:
            "title title"
            "pic abstract";
    }
}

@media (min-width: 624px) {
    .subscribe {
        grid-area: 1/1/2/2;
        align-self: center;
        justify-self: left;
        margin: 0 0 0 35px;
    }
}

@media (min-width: 768px) {
    .leading-card {
        place-self: center;
        display: block;
        grid-column: 2;
    }

    .blog-items {
        display: grid;
        align-items: normal;
        grid-auto-rows: 140px;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr 1fr;
    }

    .blog-item {
        margin: 0.5em;
        grid-row: span 2;
    }
}

@media (min-width: 1024px) {
    .content-container > *:nth-last-child(1):after {
        margin-bottom: 1em;
    }
}
