.body {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

a {
    color: black;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    height: 98vh;
    align-items: center;
}

.button {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: none;
    padding: 15px 42px;
    text-decoration: none;
    font-size: 16px;
}

.subscribe {
    grid-area: subscribe;
    align-self: center;
    justify-self: center;
}

.main-container {
    display: grid;
    grid-template-areas: 
        "header" 
        "sidebar"
        "subscribe"
        "content"
        "social" 
        "footer";
    gap: 1em;
    margin: 20px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container a {
    color: inherit;
    text-decoration: none;
}

.sidebar {
    grid-area: sidebar;
    margin: 1rem;
    min-height: 5rem;
    overflow: hidden;
}

.leading-card {
    place-self: center;
    display: none;
}

.header {
    grid-area: header;
    text-align: right;
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, white, black);
}

.header h1 {
    font-weight: 500;
}

h1 {
    font-weight: 400;
}

.blog-item {
    grid-row: span 2;
    padding: 0.5em;
    margin: 1em 0;
    display: grid;
    max-width: 500px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "title title" "pic abstract";
}

.blog-item, .button {
    transition: box-shadow 2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
}

.blog-item:hover, .button:hover {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    /* box-shadow config borrowed from https://getcssscan.com/css-box-shadow-examples as #57 by Facebook*/
}

.blog-item:active, .button:active {
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* I did not remove the blue outline from the button due to accessibility reasons - navigability with keyboard to the element.*/
}

.blog-item h1 {
    font-size: larger;
    color: rgb(59, 59, 59);
    grid-area: title;
    max-height: 3.4rem;
    margin: 0.5rem 0.3rem;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.image {
    overflow: hidden;
}

.blog-item img {
    box-sizing: border-box;
    object-fit: cover;
    grid-area: pic;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 0.4em;
    border-radius: 9px;
}

p {
    font-size: medium;
    text-align: justify;
    hyphens: auto;
    word-break: break-word;
    font-weight: 200;
}

.blog-item p {
    grid-area: abstract;
    margin: 0.3rem 1rem;
    overflow: hidden;
}

.social-links {
    grid-area: social;
    align-self: end;
    margin: 1rem;
}

.welcome-arrow {
    display: block;
    width: 70%;
    margin-top: -1.3rem;
}

.footer {
    grid-area: footer;
    text-align: center;
}

@media(min-width: 624px) {
    .subscribe {
        grid-area: 1/1/2/2;
        align-self: center;
        justify-self: left;
        margin: 0 0 0 35px;
    }
}

@media(min-width: 768px) {

    .leading-card {
        place-self: center;
        display: block;
        grid-column: 2;
    }

    .content-container {
        box-sizing: border-box;
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        display: grid;
        align-items: normal;
        grid-auto-rows: 140px;
        grid-auto-flow: row dense;
        grid-template-columns: 1fr 1fr;
    }

    .blog-item {
        margin: 0.5em;
    }
}

@media(min-width: 1024px) {    

    .content-container {
        margin: 0px -32px 0px -32px;
        padding: 19px 32px 19px 60px;
    }

    .main-container {
        height: 100%;
        grid-template-areas: 
            "header header" 
            "content sidebar"
            "content social" 
            "footer footer";
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 3fr 1fr;
        max-width: 70em;
        min-width: 40em;
        margin: 0 20px;
        overflow-y: hidden;
    }

    .content-container::-webkit-scrollbar {
        width: 0 !important
    }

    .content-container-gradienter {
        position: relative;
        grid-area: content;
    }

    .content-container::after {
        /* Ensures shadow of last item can be scrolled into view. */
        content: "";
        display: block;
        height: 160px;
        width: 100%;
    }
    
    .content-container-gradienter::before {
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        height: 25px;
        background: linear-gradient(white, rgba(255, 255, 255, 0.001));
    }
    
    .content-container-gradienter::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 25px;
        background: linear-gradient(rgba(255, 255, 255, 0.001), white);
    }

    .blog-item:nth-last-child(1) {
        margin-bottom: 1em;
    }

    .header {
        border-image-source: linear-gradient(to right, white 60%, black);
    }
}